#heading {
  color: brown;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 180px;
}
.nav-items {
  padding: 10px;
}

.nav-items > ul {
  font-size: 25px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  padding: 10px;
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 15px 22px #0000008a;
  display: flex;
  height: 400px;
  flex-direction: column;
}

.res-card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s;
}

.res-card > * {
  margin: 5px; /* Add spacing between content elements */
}

.search {
  padding: 10px;
}

.res-logo {
  max-width: 100%;
  max-height: 60%;
  object-fit: cover;
  border-radius: 0 0 5px 5px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  height: 400px;
  width: 200px;
  background-color: #f0f0f0;
  margin: 20px;
}

.login {
  padding: 0 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.menu {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.menu h1::before,
.menu h1::after {
  content: "";
  flex: 1;
  border-top: 1px solid #555;
  margin: 0 10px;
}

.menu p {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
}

.menu-ul {
  list-style: none;
  padding: 0;
}

.item-li {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 15px 22px rgba(0, 0, 0, 0.34);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-li:hover {
  transform: translateY(-5px);
  transition: transform 0.2s;
}

.user-card {
  padding: 10px;
  width: 300px;
  margin: 10px;
  border: 1px solid #aa9a9a;
  border-radius: 5px;
  box-shadow: 0 15px 22px #0000008a;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
